<div class="container">
    <div class="wrapper">
        <app-card-content cardTitle="Titulo para teste" cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste itaque dolorem eos placeat sit illo consequatur et fugit temporibus" srcLink="https://www.youtube.com/"></app-card-content>
    </div>
    <div class="wrapper">
        <app-card-content cardTitle="Titulo para teste 2" cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste itaque dolorem eos placeat sit illo consequatur et fugit temporibus" srcLink="https://www.youtube.com/"></app-card-content>

    </div>
    {{books}}
</div>