<div class="teste2">
    <app-small-card-content cardTitle="Titulo para teste" cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste itaque dolorem eos placeat sit illo consequatur et fugit temporibus" srcLink="https://www.youtube.com/"></app-small-card-content>
    <app-small-card-content cardTitle="Titulo para teste 2" cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste itaque dolorem eos placeat sit illo consequatur et fugit temporibus" srcLink="https://www.youtube.com/"></app-small-card-content>
</div>
