.blog-card-content__wrapper{
    width: 450px;
    height: 280px;
    padding: .7rem 1rem;
    background-color: var(--clr-accent);
    border-radius: 15px;
}

.blog-card-content__title, .blog-card-content__subtitle,
.blog-card-content__description{
    color: #fff;
} 

.blog-card-content__title{
    font-size: 1.575rem;
    font-weight: var(--fw-extrabold);
    line-height: 40px;
}

.blog-card-content__subtitle {
    font-size: 1.175rem;
    font-weight: var(--fw-regular);
    margin: 5px 0 25px 0;
}

.blog-card-content__description{
    font-size: .875rem;
    letter-spacing: 0.7px;
    margin-bottom: 2.5rem;
    line-height: 15px;
}

.blog-card-content-big-link{
    max-width: 170px;
    padding: 1rem 1.5rem;
    background-color: #fff;
    border-radius: 25px;
    letter-spacing: 0.7px;
    color: rgba(53, 55, 56, 0);

    display: flex;
    align-items: center;
}

a{
    margin-left: .5rem;
    text-decoration: none;
}