.blog-page__align{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-page-menu__wrapper{
    width: 17.5rem;
    padding: 1.5rem 1rem;
}

.blog-page-menu-header{
    justify-content: center;
}

.blog-page-menu-header__profile-pic{
    width: 90px;
    height: 90px;
}

/* .blog-page-menu-header__content{
    
} */

.blog-page-menu-nav{
    margin: 0 auto;
}

.blog-page-menu-nav__icon{
    width: 25px;
    height: 25px;
}

.blog-page-menu-nav__link-page{
    flex-direction: row;
    gap: 10px;
}