<section class="blog-page-menu__wrapper blog-page__align">
    <section class="blog-page-menu-header blog-page__align">
        <figure>
            <img src="https://avatars.githubusercontent.com/u/74156557?s=400&u=fe1848b55b20467efaeb31593a8973a3a047f0da&v=4" alt="profile picture" class="blog-page-menu-header__profile-pic">
        </figure>
        <div class="blog-page-menu-header__content blog-page__align">
            <p class="blog-page-menu-header__profile-name">Matt Smith</p>
            <p class="blog-page-menu-header__profile-email">mattsmith343@gmail.com</p>
        </div>
    </section>
    <section class="blog-page-menu-nav ">
        <nav class="blog-page-menu-nav__nav-wrapper">
            <div class="blog-page-menu-nav__link-page blog-page__align" [routerLink]="['/design']" [routerLinkActive]="['activated']">
                <svg class="blog-page-menu-nav__icon blog-page-menu-nav__icon-design" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="color-palette"><rect width="24" height="24" opacity="0"/><path d="M19.54 5.08A10.61 10.61 0 0 0 11.91 2a10 10 0 0 0-.05 20 2.58 2.58 0 0 0 2.53-1.89 2.52 2.52 0 0 0-.57-2.28.5.5 0 0 1 .37-.83h1.65A6.15 6.15 0 0 0 22 11.33a8.48 8.48 0 0 0-2.46-6.25zM15.88 15h-1.65a2.49 2.49 0 0 0-1.87 4.15.49.49 0 0 1 .12.49c-.05.21-.28.34-.59.36a8 8 0 0 1-7.82-9.11A8.1 8.1 0 0 1 11.92 4H12a8.47 8.47 0 0 1 6.1 2.48 6.5 6.5 0 0 1 1.9 4.77A4.17 4.17 0 0 1 15.88 15z"/><circle cx="12" cy="6.5" r="1.5"/><path d="M15.25 7.2a1.5 1.5 0 1 0 2.05.55 1.5 1.5 0 0 0-2.05-.55z"/><path d="M8.75 7.2a1.5 1.5 0 1 0 .55 2.05 1.5 1.5 0 0 0-.55-2.05z"/><path d="M6.16 11.26a1.5 1.5 0 1 0 2.08.4 1.49 1.49 0 0 0-2.08-.4z"/></g></g></svg>
                <p class="blog-page-menu-nav__text blog-page-menu-nav__text--design">Design</p>
            </div>
            <div class="blog-page-menu-nav__link-page blog-page__align" [routerLink]="['/books']" [routerLinkActive]="['activated']">
                <svg class="blog-page-menu-nav__icon blog-page-menu-nav__icon-design" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="book-open"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M20.62 4.22a1 1 0 0 0-.84-.2L12 5.77 4.22 4A1 1 0 0 0 3 5v12.2a1 1 0 0 0 .78 1l8 1.8h.44l8-1.8a1 1 0 0 0 .78-1V5a1 1 0 0 0-.38-.78zM5 6.25l6 1.35v10.15L5 16.4zM19 16.4l-6 1.35V7.6l6-1.35z"/></g></g></svg>
                <p class="blog-page-menu-nav__text blog-page-menu-nav__text--design">Books</p>
            </div>
            <div class="blog-page-menu-nav__link-page blog-page__align" [routerLink]="['/products']" [routerLinkActive]="['activated']">
                <svg class="blog-page-menu-nav__icon blog-page-menu-nav__icon-design" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="pricetags"><rect width="24" height="24" opacity="0"/><path d="M12.87 22a1.84 1.84 0 0 1-1.29-.53l-6.41-6.42a1 1 0 0 1-.29-.61L4 5.09a1 1 0 0 1 .29-.8 1 1 0 0 1 .8-.29l9.35.88a1 1 0 0 1 .61.29l6.42 6.41a1.82 1.82 0 0 1 0 2.57l-7.32 7.32a1.82 1.82 0 0 1-1.28.53zm-6-8.11l6 6 7.05-7.05-6-6-7.81-.73z"/><circle cx="10.5" cy="10.5" r="1.5"/></g></g></svg>                
                <p class="blog-page-menu-nav__text blog-page-menu-nav__text--design">Products</p>
            </div>
        </nav>
    </section>
    <section class="blog-page-menu-darkmode">
        <p class="blog-page-menu-chagetheme__text">Dark mode</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
    </section>
</section>
